<mat-toolbar class="shopping-toolbar">
    <button class="price-sort" (click)="setAsc();">Low Price</button>
    <button class="price-sort" (click)="setDesc();">High Price</button>
    <div class="search-input">
        <input matInput type="search" class="input-box" placeholder="Search...">
        <button mat-button matSufix mat-icon-button class="search-button">
            <mat-icon>search</mat-icon>
        </button>
    </div>
    <button mat-raised-button class="shopping-button">
        <span>Proceed Order </span>
        <mat-icon>shopping_cart</mat-icon>
    </button>
</mat-toolbar>
<mat-grid-list cols="4" rowHeight="4:5">
    <mat-grid-tile *ngFor="let item of data | sortFilter : sort_type">
        <app-shopping-item [item]="item"></app-shopping-item>
    </mat-grid-tile>
</mat-grid-list>